.HeadIcon {
  display: flex;
  min-width: 375px;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 10px;
}
.IconStyle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
}
.HeadTextBlock {
  min-width: 375px;
  display: flex;
  overflow: auto;
}
.HeadText {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}
.MainBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.classicBox {
  background: white;
  border-radius: 20px;
  width: 93%;
  display: flex;
  min-width: 375px;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.classicBoxLeft {
  font-size: 25px;
  font-weight: bold;
  width: 60%;
  color: #ffec99;
}
.classicBoxRight {
  height: 150px;
  object-fit: fill;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.classicApperance {
  font-size: 14px;
  color: #ced4da;
}
.AiOutlineArrowRight {
  cursor: pointer;
  margin-top: 6px;
  color: black;
}
.productWrappingBox {
  min-width: 375px;
  display: flex;
  overflow-x: auto;
}
.productBox {
  height: 110px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  text-overflow: auto;
  cursor: pointer;
}
.MainTextBlock {
  min-width: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productPictureStyle {
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.MainSellOrPicks {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}
.MainViewAllText {
  font-size: 20px;
  font-weight: bold;
  color: #ffe066;
  cursor: pointer;
  padding: 15px;
}
.BestMainTopBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.BestProductStyle {
  font-weight: bold;
  color: #868e96;
}
.BestMainPopularBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.BiDownArrowAlt {
  cursor: pointer;
}
.BestProductBoxStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.BestProductBox {
  background: white;
  border-radius: 20px;
  margin: 10px;
  height: 250px;
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}
.BestProductPictureStyle {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;
  top: 0px;
}
.BestProductName {
  position: absolute;
  top: 140px;
  left: 20px;
  font-weight: bold;
  color: #343a40;
}
.BestProductDetail {
  position: absolute;
  top: 165px;
  left: 20px;
  color: #868e96;
}
.BestPriceBox {
  position: absolute;
  bottom: 5px;
  display: flex;
  align-items: center;
  /* left: 20px; */
}
.BestBoxBox {
  display: flex;
  /* position: absolute; */
}
.BestPriceStyle {
  font-weight: bold;
  font-size: 20px;
}
.BestBoxStyle {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.detailTotalBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailPageBox {
  width: 80%;
  height: auto;
  display: flex;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 20px;
  margin: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detailPageBoxImg {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.detailHeadBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-weight: bold;
  font-size: 30px;
}
.detailHeadBoxHeart {
  color: black;
}
.detailHeadBoxHeart:hover {
  color: pink;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.detailNameAndPrice {
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.detailLongExplanation {
  font-weight: bold;
  color: #ced4da;
  font-size: 25px;
  margin: 15px;
}
.detailShoppingCart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100px;
  margin-top: 30px;
  background: #f1f3f5;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.detailShoppingCartStyle {
  width: 30%;
  height: 30%;
}
.detailAddToCart {
  font-weight: bold;
  margin: 10px;
}
